body {
    background-image: url("https://wallpaperaccess.com/full/104824.jpg");
}
/* header bar style */
.header-text {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: darkblue;
    color: white;
}
.main-container {
    padding-top:100px;
    width: 95%;
    margin: auto;
}
/* aside search column styles */
.search-col {
    border: 1px solid black;
    background-color: lightgrey;
}
.search-row {
    padding-top: 5%;
    padding-left: 3%;
}
.btn-search {
    border: 1px solid lightblue;
    background-color: lightblue;
    color: black;
}
.btn-search:hover {
    background-color: blue;
    color: white;
    border-color: blue;
}
.btn-clear-sect {
    width: 85%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 10px;
}
#search-history-sect {
    width: 100%;
    padding-top: 10px;
}
.history-style {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    background-color: white;
    font-size: 24px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 50%;
}
.div-padding {
    padding-top:10px;
}
/* main weather section styles  */
.main-col {
    border: 1px solid black;
    background-color: white;
    width: 100%;
    height: 200px;
}
.weather-text {
    padding-left: 10px;
    text-align: center;
}
#weather-name {
    padding-top: 10px;
}
#weather-name-card0 {
    font-size: 2em;
}
.row-style {
    margin: 0;
    font-size: 1em;
    height: 50%;
    padding-top: 20%;
}
.column-style {
    height: 100%;
}

#weather-temp-card0  {
    font-size: 2.3em;
    line-height: 200px;
    height: 200px;
    font-weight: bold;
}
.row-today {
    height: 100%;
}
.row-max {
    background-color: lightcoral;
}
.row-min {
    background-color: turquoise;
}
#main-weather-get {
    height: 100%;
}
/* card styles */
.card-container {
    padding-top: 20px;
}
.card-style {
    height: 300px;
    width: 100% !important;
    background-color: darkturquoise;
}
.card-date {
    text-align: center;
    margin: 0;
}
.card-temp {
    font-size: 2em;
    text-align: center;
    color: yellow;
    margin: 0;
    
}
.card-windspeed,
.card-humidity {
    font-size: 1.4em;
    margin: 0;
}
.card-humidity {
    font-weight: 500;
}
.card-break {
    margin-bottom: 5px;
}
.hide {
    display: none;
}